/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: hsl(209, 23%, 22%);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

/* NAVBAR TEXT */

.navbar-text {
    color: white;
    font-weight: 800;
}

/* NAVBAR THEME BUTTON */

.navbar-button {
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.navbar-button-moon-svg {
    width: 20px;
    height: 20px;
    display: none;
}

.navbar-button-sun-svg {
    color: white;
    width: 20px;
    height: 20px;
}

.navbar-button-text {
    color: white;
    font-weight: 400;
}

/* THEME */

.theme-button-js .navbar-button-moon-svg {
    display: unset;
}

.theme-button-js .navbar-button-sun-svg {
    display: none;
}

.theme-button-js .navbar-button-text {
    color: black;
}