/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: hsl(209, 23%, 22%);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    display: flex;
    align-items: center;
    padding-inline: 40px;
}

/* NAVBAR TEXT */

.navbar-text {
    color: white;
    font-weight: 800;
}

/* NAVBAR THEME BUTTON */